article.sketch-grid {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
}

.sketch-grid button {
    padding: 5px;
    margin-top: -10px;
}

.sketch-grid>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}